[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = AkayusinuharateMudahadekisuri
	email = 109327885+AkayusinuharateMudahadekisuri@users.noreply.github.com
[core]
	editor = \"C:\\Users\\Admin\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
